.carritoContainer {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor */
.carritoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Tarjeta flotante */
.carritoCard {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}
